:root{
    color-scheme: dark light;
    --dark-mode-toggle-icon-filter: 
}
*{
    margin:0;
    padding: 0;
}

body{
    font-family: 'Tiro Bangla', serif;
    background: rgba(221, 221, 221, 0.842);
}


.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    background-color: beige;
}

.contenedor > div,
.contenedor .header,
.contenedor .sidebar,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer{
    background: white;
    padding: 20px;
    border-radius: 4px;
}

.contenedor .header{
    background: #5c5581;
    grid-column-start: 1;
    grid-column-end: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor .contenido{
    grid-column: span 3;
}

.contenedor .sidebar{
    background: #25acaa;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 1;
    grid-row: span 2;
}

.contenedor .widget-1{
    background:var(--fondo-widget-1);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 2;
}

.contenedor .widget-2{
    background: #08ca1d;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 1;
}
/*--------------------------*/
.toggle {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 120px;
    height: 60px;
    border-radius: 50px;
    transition: .2s;
}

.toggle i {
    width: 50%;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    z-index: 1;
}

.toggle .ball {
    position: absolute;
    width: 45px;
    height: 45px;
    margin: 7.5px;
    border-radius: 50%;
    transition: .3s ease-out;
}

input {
    display: none;
}

/*
    -- Light Mode --
*/

.light {
    background: #fafafa;
}

.light .toggle {
    background: linear-gradient(145deg, #e1e1e1, #fff);
    box-shadow: 3px 3px 4px #e6e6e6,
                -3px -3px 4px #ffffff;
}

.light .toggle .bxs-sun {
    color: #fafafa;
}

.light .toggle .bx-moon {
    color: #151d2a;
}

.light .toggle .ball {
    background: #151d2a;
}

/*
    -- Dark Mode --
*/

.dark {
    background: #151d2a;
}

.dark .toggle {
    background: #151d2a;
    box-shadow: 3px 3px 3px #0e131b,
                -3px -3px 3px #1c2739;
}

.dark .toggle .bx-sun {
    color: #fafafa;
}

.dark .toggle .bxs-moon {
    color: #151d2a;
}

.dark .toggle .ball {
    background: #fafafa;
    transform: translateX(60px);
}
/*--------------------------*/
.contenedor .footer{
    background: #242734;
    color: white;
    grid-column: span 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .contenedor .contenido{
        grid-column: 1 / -1;
    }

    .contenedor .sidebar{
        grid-column: 1 / -1;
    }

    .contenedor .widget-1{
        grid-column: span 3;
    }
}